name: Deploy to Production

on:
  pull_request:
    branches:
      - production

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Copy files via SSH
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          source: "."
          target: "/var/www/hrms"

      - name: Execute remote commands
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            # Make scripts executable
            chmod +x /var/www/hrms/scripts/install_docker.sh
            chmod +x /var/www/hrms/scripts/deploy.sh

            # Run installation and deployment
            /var/www/hrms/scripts/install_docker.sh
            /var/www/hrms/scripts/deploy.sh
